@use "../../styles/partials/mixins" as *;

h1 {
    @include page-header;
}

label {
    @include form-body;
    user-select: none; 
    color: black;
}

.company__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}
.company__info--input__list {
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    width: 80%;
    flex-wrap: wrap;
}
.company__info--input__radio {
    display: none;
    &:checked + .company__info--input__label {
        background-color: white;
        transition: background-color .1s;
        border: 2px solid #d3d3d3;
    }
}

.company__info--input__label {
    color: black;
    font-size: 1rem;
    padding: 1rem;
    min-width: 196px;
    background-color: #d3d3d3;
    border: 2px solid #d3d3d3;
    border-radius: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    cursor: pointer;
    text-transform: capitalize;
}

