// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors
$instockBlack: #13182C;
$instockIndigo: #2E66E5;
$white: #FFFFFF;


//secondary colors
$slate: #5C667E;
$cloud: #BDC5D5;

//background colors
$graphite: #232940;
$lightGrey: #F7F8F9;

//support colors
$green: #158463;
$red: #C94515;
$blue: #0A5AC2;
$bg_input: #E8E8E8;