@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.form-article{
    width: 32.3125rem;
    background-color: #E5F1F1;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    &__section{
        padding-inline: 2.6875rem;

        &--wrapper{

        }
    
        &--img{
            margin-top: 2rem;
            max-width: 15.9375rem;
        }
    
        &--message{

        }
    
        &--title{
            font-weight: 700;
            font-size: 1.375rem;
            line-height: 1.5625rem;
        }
    
        &--body-large{
            margin-top: 1rem;
            font-size: 1.25rem;
            line-height: 1.5625rem;
        }

        &--body-small{
            margin-top: 1rem;
            font-size: 1.125rem;
            line-height: 1.375rem;
        }

    }
}