@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/reset' as *;


.c-info {
    // display: flex;
    // flex-direction: column;

    &__subheader {
        @include page-header;
        padding-left: 1rem;
       
    }

    &__form-label {

        @include form-body;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
   

        &__form-input-name {
            width: 30.8837rem;
            background-color: #D9D9D9;
            height: 2.4375rem;
            border: none;
            border-radius: 1.875rem;
        }

        &__form-input-phone {
            background-color: #D9D9D9;
            height: 2.4375rem;
            border: none;
            width: 17.0294rem;
            border-radius: 1.875rem;
        }


        &__wrper-labels {
            display: flex;
            align-items: center;
            gap: 1.25rem;
        }

        &__form-input-country {
            border-radius: 1.875rem;
            width: 6.9569rem;
            background-color: #D9D9D9;
            height: 2.4375rem;
            border: none
        }

        &__form-input-time{
            border-radius: 1.875rem;
            width: 6.9569rem;
            background-color: #D9D9D9;
            height: 2.4375rem;
            border: none;

        }

}